In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None
import requests
import lxml.html as lh
from bs4 import BeautifulSoup as BS

## National Rankings Year: 2022

In [2]:
url = 'https://www.laxnumbers.com/ratings/service'
response = requests.get(url, params={'y': 2022, 'v': 3000})
data = response.json()
df_2022 = pd.DataFrame.from_dict(data, orient='columns')
df_2022["Year"] = 2022
df_2022.head()

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,11947,Brunswick School,https://my.brunswickschool.org/team?team=129047,,16,204,101,15,1,0,6.12,93.86,99.990,0.827,CT,,,,1,1,2022
1,11212,St Johns College HS,https://www.stjohnschs.org/Team-Detail?fromId=...,,19,310,98,19,0,0,8.47,91.46,99.937,3.379,DC,,,,1,2,2022
2,10040,Culver Military Academy Prep,https://culverathletics.com/sports/mens-lacros...,,21,342,139,19,2,0,7.52,91.52,99.050,1.702,IN,,,https://www.instagram.com/culver_lacrosse/,1,3,2022
3,12079,Lawrenceville School,https://athletics.lawrenceville.org/our-teams/...,,19,269,125,15,4,0,4.84,92.66,97.509,2.108,NJ,,https://twitter.com/LvilleLacrosse,https://www.instagram.com/lvilleboyslacrosse/?...,1,4,2022
4,11172,Boys Latin,https://www.boyslatinmd.com/athletics/schedule...,,17,194,126,13,4,0,3.58,93.76,97.353,0.001,MD,,,,1,5,2022

## National Rankings Year: 2021

In [3]:
url = 'https://www.laxnumbers.com/ratings/service'
response = requests.get(url, params={'y': 2021, 'v': 3000})
data = response.json()
df_2021 = pd.DataFrame.from_dict(data, orient='columns')
df_2021["Year"] = 2021
df_2021.head()

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,11177,McDonogh,https://www.mcdonogh.org/athletics/teams-sched...,,12,161,98,11,1,0,5.000,94.99,99.990,0.036,MD,,,,1,1,2021
1,11171,Archbishop Spalding,https://www.archbishopspalding.org/team-detail...,,15,180,114,12,3,0,4.066,95.06,99.126,0.552,MD,,,,1,2,2021
2,13120,Malvern Prep,https://www.malvernprep.org/athletics/teams/te...,,21,291,138,19,2,0,6.476,92.58,99.063,0.536,PA,,,,1,3,2021
3,10040,Culver Military Academy Prep,https://culverathletics.com/sports/mens-lacros...,,14,217,84,12,2,0,6.500,91.97,98.475,1.005,IN,,,,1,4,2021
4,11948,Deerfield Academy,https://deerfield.edu/athletics/teams/lacrosse...,,12,152,61,12,0,0,6.666,91.80,98.470,0.950,MA,,,,1,5,2021

## National Rankings Year: 2019

In [4]:
url = 'https://www.laxnumbers.com/ratings/service'
response = requests.get(url, params={'y': 2019, 'v': 3000})
data = response.json()
df_2019 = pd.DataFrame.from_dict(data, orient='columns')
df_2019["Year"] = 2019
df_2019.head()

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,11173,Calvert Hall,https://www.calverthall.com/team-detail?fromId...,,18,266,99,17,1,0,7.88,92.11,99.99,0,MD,None,None,None,1,1,2019
1,10040,Culver Military Academy Prep,,,21,345,93,20,1,0,8.09,90.71,98.80,0,IN,None,None,None,1,2,2019
2,12310,St Anthonys NY (AAA),,/images/state_champs.gif,16,228,141,15,1,0,5.31,93.15,98.46,0,NY,None,None,None,1,3,2019
3,12308,Chaminade NY,,,14,194,109,12,2,0,5.64,92.66,98.30,0,NY,None,None,None,1,4,2019
4,11947,Brunswick School,,,18,222,107,16,2,0,6.00,92.25,98.25,0,CT,None,None,None,1,5,2019

## National Rankings Year: 2018

In [5]:
url = 'https://www.laxnumbers.com/ratings/service'
response = requests.get(url, params={'y': 2018, 'v': 3000})
data = response.json()
df_2018 = pd.DataFrame.from_dict(data, orient='columns')
df_2018["Year"] = 2018
df_2018

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,14116,Army Prep,,,2,27,9,2,0,0,9.00,90.99,99.99,0,NJ,None,None,None,1,1,2018
1,11947,"Brunswick School, CT",,,16,233,96,16,1,0,6.87,90.60,97.47,0,CT,None,None,None,1,2,2018
2,11173,Calvert Hall,,,19,214,113,16,3,0,4.94,92.07,97.01,0,MD,None,None,None,1,3,2018
3,10040,Culver Military Acad,,,26,405,119,24,2,0,7.23,89.58,96.81,0,IN,None,None,None,1,4,2018
4,10039,Hill Academy,,,17,205,146,13,4,0,3.35,93.14,96.49,0,ON,None,None,None,1,5,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4045,13897,T.A. Blakelock,,,0,0,0,0,0,0,0.00,0.00,0.00,0,ON,None,None,None,1,4046,2018
4046,14020,Terry Fox,,,0,0,0,0,0,0,0.00,0.00,0.00,0,BC,None,None,None,1,4047,2018
4047,13858,Thomas A. Stewart,,,0,0,0,0,0,0,0.00,0.00,0.00,0,ON,None,None,None,1,4048,2018
4048,14021,Vancouver College,,,0,0,0,0,0,0,0.00,0.00,0.00,0,BC,None,None,None,1,4049,2018
4049,13865,West Hill,,,0,0,0,0,0,0,0.00,0.00,0.00,0,ON,None,None,None,1,4050,2018

## National Rankings Year: 2017

In [6]:
url = 'https://www.laxnumbers.com/ratings/service'
response = requests.get(url, params={'y': 2017, 'v': 3000})
data = response.json()
df_2017 = pd.DataFrame.from_dict(data, orient='columns')
df_2017["Year"] = 2017
df_2017

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,10040,Culver Academy Prep,,,22,314,101,21,1,0,7.27,92.72,99.99,0,IN,None,None,None,1,1,2017
1,11177,McDonogh,,,21,275,157,17,4,0,4.80,95.00,99.80,0,MD,None,None,None,1,2,2017
2,11168,Landon,,,21,275,145,21,0,0,6.04,93.60,99.64,0,MD,None,None,None,1,3,2017
3,11173,Calvert Hall,,,19,243,115,17,2,0,5.57,94.02,99.59,0,MD,None,None,None,1,4,2017
4,11887,IMG National,,,14,231,134,12,2,0,5.92,93.45,99.37,0,FL,None,None,None,1,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4033,14020,Terry Fox,,,0,0,0,0,0,0,0.00,0.00,0.00,0,BC,None,None,None,1,4034,2017
4034,14442,Valley,,,0,0,0,0,0,0,0.00,0.00,0.00,0,BC,None,None,None,1,4035,2017
4035,14021,Vancouver College,,,0,0,0,0,0,0,0.00,0.00,0.00,0,BC,None,None,None,1,4036,2017
4036,14424,Walsingham Academy,,,0,0,0,0,0,0,0.00,0.00,0.00,0,VA,None,None,None,1,4037,2017
4037,13865,West Hill,,,0,0,0,0,0,0,0.00,0.00,0.00,0,ON,None,None,None,1,4038,2017

### concatinating all 5 years

In [7]:
df_all = pd.concat([df_2017, df_2018, df_2019, df_2021, df_2022])
df_all

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,10040,Culver Academy Prep,,,22,314,101,21,1,0,7.27,92.72,99.99,0.0,IN,None,None,None,1,1,2017
1,11177,McDonogh,,,21,275,157,17,4,0,4.80,95.00,99.80,0.0,MD,None,None,None,1,2,2017
2,11168,Landon,,,21,275,145,21,0,0,6.04,93.60,99.64,0.0,MD,None,None,None,1,3,2017
3,11173,Calvert Hall,,,19,243,115,17,2,0,5.57,94.02,99.59,0.0,MD,None,None,None,1,4,2017
4,11887,IMG National,,,14,231,134,12,2,0,5.92,93.45,99.37,0.0,FL,None,None,None,1,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,11983,South Kent School,https://southkentschool.org/athletics/teams/la...,,0,0,0,0,0,0,0.00,0.00,0.00,0.0,CT,,,,1,3812,2022
3812,14051,St Louis High,,,0,0,0,0,0,0,0.00,0.00,0.00,0.0,HI,,,,1,3813,2022
3813,14479,Watertown,,,0,0,0,0,0,0,0.00,0.00,0.00,0.0,SD,https://www.facebook.com/pages/category/Intere...,,,1,3814,2022
3814,14180,Westside LC,,,0,0,0,0,0,0,0.00,0.00,0.00,0.0,NM,None,None,None,1,3815,2022
3815,13699,Woodrow Wilson,,,0,8,21,1,1,0,-4.50,0.00,0.00,0.0,DC,None,None,None,1,3816,2022

## removed all the rows where scheduled rank = 0.00. This will removed teams that have no recoreded data per year.

In [8]:
df_alls = df_all[df_all.sched != 0.00]
df_alls

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,facebook,twitter,instagram,div_rank_live,ranking,Year
0,10040,Culver Academy Prep,,,22,314,101,21,1,0,7.27,92.72,99.990,0.000,IN,None,None,None,1,1,2017
1,11177,McDonogh,,,21,275,157,17,4,0,4.80,95.00,99.800,0.000,MD,None,None,None,1,2,2017
2,11168,Landon,,,21,275,145,21,0,0,6.04,93.60,99.640,0.000,MD,None,None,None,1,3,2017
3,11173,Calvert Hall,,,19,243,115,17,2,0,5.57,94.02,99.590,0.000,MD,None,None,None,1,4,2017
4,11887,IMG National,,,14,231,134,12,2,0,5.92,93.45,99.370,0.000,FL,None,None,None,1,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,12196,Winslow Township,,,12,14,191,0,12,0,-9.83,50.69,40.866,-14.067,NJ,,,,1,3776,2022
3776,11662,Henry Ford II,,,7,19,116,0,8,0,-8.85,48.74,39.890,-6.425,MI,None,None,None,1,3777,2022
3777,10492,Butte,,,10,12,183,0,10,0,-9.50,48.97,39.474,-6.630,MT,,,,1,3778,2022
3778,12727,Ragsdale,,,13,10,270,0,13,0,-10.00,48.99,38.992,-21.637,NC,,,,1,3779,2022
3791,13694,DC International PCS,,,0,1,15,0,1,0,-10.00,-0.28,0.000,-0.288,DC,None,None,None,1,3792,2022

## dropped columns for social media. Not relevant.

In [9]:
df_allf = df_alls.drop(['facebook', 'twitter', 'instagram'], axis=1)

In [10]:
df_allf

,team_nbr,name,web,logo,gp,gf,ga,wins,losses,ties,agd,sched,rating,adj_average,state,div_rank_live,ranking,Year
0,10040,Culver Academy Prep,,,22,314,101,21,1,0,7.27,92.72,99.990,0.000,IN,1,1,2017
1,11177,McDonogh,,,21,275,157,17,4,0,4.80,95.00,99.800,0.000,MD,1,2,2017
2,11168,Landon,,,21,275,145,21,0,0,6.04,93.60,99.640,0.000,MD,1,3,2017
3,11173,Calvert Hall,,,19,243,115,17,2,0,5.57,94.02,99.590,0.000,MD,1,4,2017
4,11887,IMG National,,,14,231,134,12,2,0,5.92,93.45,99.370,0.000,FL,1,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,12196,Winslow Township,,,12,14,191,0,12,0,-9.83,50.69,40.866,-14.067,NJ,1,3776,2022
3776,11662,Henry Ford II,,,7,19,116,0,8,0,-8.85,48.74,39.890,-6.425,MI,1,3777,2022
3777,10492,Butte,,,10,12,183,0,10,0,-9.50,48.97,39.474,-6.630,MT,1,3778,2022
3778,12727,Ragsdale,,,13,10,270,0,13,0,-10.00,48.99,38.992,-21.637,NC,1,3779,2022
3791,13694,DC International PCS,,,0,1,15,0,1,0,-10.00,-0.28,0.000,-0.288,DC,1,3792,2022

In [11]:
df_allf.to_excel("LRY.xlsx",
             sheet_name='National Ranks')

## exported to excel and put in data folder

## At this point im going to start pulling in School Statistics

In [13]:
url = 'https://wallethub.com/edu/e/states-with-the-best-schools/5335'
response = requests.get(url)
response = BS(response.text)
rank_df = pd.read_html(str(response))
rank_df = rank_df[0]
rank_df

ValueError: No tables found